



#product{
    height: auto;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10vh;
}
#product article{
    width: 55vw;
    height: auto;
    margin: 20vh 0 0 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#product article h2{
    font-family: var(--font-1-);
}
#product article h5{
    color: var(--col-3-);
    line-height: 150%;
    letter-spacing: 1px;
}
#rent{
    height: auto;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--col-4-);
    gap: 5vh;
}
#rent .discription{
    border-left: solid var(--col-6-) 5px;
}
#rent article{
    width: 40vw;
    height: auto;
    margin: 25vh 15vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#rent article h2{
    font-family: var(--font-1-);
}
#rent article h5{
    color: var(--col-3-);
    line-height: 150%;
    letter-spacing: 1px;
}
#rent section{
    height: auto;
    width: 30vw;
    margin-top: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#rent section aside{
    position: relative;
    height: auto;
    min-height: 120px;
    width: 24vw;
    padding: 30px;
    background-color: var(--col-1-);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 20px;
    border-bottom: solid var(--col-5-) 3px;
    border-right: solid var(--col-5-) 3px;
    box-shadow: 0px 10px 13px -7px #717171, 5px 5px 15px 5px rgba(0,0,0,0);
}
#rent section aside h4{
    font-family: var(--font-1-);
    color: var(--col-2-);
}
#rent section aside h6{
    color: var(--col-3-);
    line-height: 150%;
    letter-spacing: 1px;
}
#rent section aside i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--col-2-);
}
#tecbases{
    height: auto;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10vh;
}
#tecbases article{
    width: 45vw;
    height: auto;
    margin: 20vh 0 0 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#tecbases article h2{
    font-family: var(--font-1-);
}
#tecbases article div{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#tecbases section{
    height: auto;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}
#tecbases section aside{
    position: relative;
    height: auto;
    min-height: 120px;
    width: 200px;
    padding: 40px 3vw;
    background-color: var(--col-2-);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    box-shadow: 0px 10px 13px -7px #717171, 5px 5px 15px 5px rgba(0,0,0,0);
}
#tecbases section aside h4{
    font-family: var(--font-1-);
    color: var(--col-1-);
}
#tecbases section aside h6{
    color: var(--col-1-);
    line-height: 150%;
    letter-spacing: 1px;
}
#tecbases section aside i{
    color: var(--col-1-);
}


@media (max-width: 1024px){
    #rent{
        flex-direction: column;
        align-items: center;
        background-color: var(--col-4-);
        gap: 5vh;
    }
    #rent article{
        width: 80vw;
        height: auto;
        margin: 25vh 0 0 0;
    }
    #rent section{
        height: auto;
        width: auto;
        margin-top: 0;
    }
    #rent section aside{
        min-height: 120px;
        width: 74vw;
        padding: 30px;
    }
    #tecbases article{
        width: 80vw;
        height: auto;
        margin: 20vh 0 0 10vw;
    }
}
@media (max-width: 768px){
    #product article{
        width: 80vw;
        height: auto;
        margin: 20vh 0 0 10vw;
    }
}
@media (max-width: 480px){}