


#points{
    height: auto;
    width: 100vw;
    padding: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--col-1-);
}
#points div{
    position: relative;
    padding: 15px 20px;
    margin: 0;
}
#points div::before{
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    height: 0;
    width: 0;
    border-top: solid var(--col-4-) 0px;
    border-right: solid var(--col-4-) 0px;
    transition: all 500ms ease-in-out;
}
#points div:hover::before{
    height: 100%;
    width: 100%;
    border-top: solid var(--col-4-) 1px;
    border-right: solid var(--col-4-) 1px;
}
#points div::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: solid var(--col-4-) 0px;
    border-left: solid var(--col-4-) 0px;
    transition: all 300ms ease-in-out;
}
#points div:hover::after{
    height: 100%;
    width: 100%;
    border-bottom: solid var(--col-4-) 1px;
    border-left: solid var(--col-4-) 1px;
}
#points h4{
    color: var(--col-2-);
}
#points p{
    color: var(--col-2-);
}
#cta{
    position: relative;
    height: auto;
    padding: 30vh 0 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--col-1-);
}
#cta article{
    height: auto;
    width: 80vw;
    max-width: 800px;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--col-2-);
    gap: 3vh;
 
}
#services{
    height: auto;
    padding: 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--col-1-);
}
#services::before{
    content: "";
    position: absolute;
    top: -200px;
    left: 60vw;
    height: 500px;
    width: 100px;
    background: #000504 url(/images/backsplit1.PNG) center center/cover no-repeat;
    rotate: 90deg;
    z-index: 4;
}
#services::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 200px;
    background-color: var(--col-1-);
}
#services aside{
    position: relative;
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
#services aside h5{
    margin-left: 20vw;
}
#services article{
    position: relative;
    height: auto;
    width: 84vw;
    padding: 5vw;
    margin: 10vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 1vw;
}
#services article div{
    height: 30vh;
    width: 23vw;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    border-left: solid var(--col-4-) 1px;
}
#services article div p{
    color: var(--col-4-);
}
.imgdiv{
    position: relative;
    height: 30vh;
    width: 84vw;
    border-radius: 1vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    animation: scroll 4s infinite linear;
}
#services img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#cust{
    height: auto;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#cust article{
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    gap: 3vw;
}
#cust div{
    flex: none;
    height: 200px;
    width: 200px;
    border: solid red 1px;
}
#us{
    height: auto;
    padding: 20vh 0 35vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10vh;
    background: radial-gradient(circle at 40% 50%, var(--col-6-) 1%, transparent 15%), radial-gradient(circle at 80% 80%, var(--col-5-) 1%, var(--col-1-) 15%);
}
#us aside{
    height: auto;
    width: auto;
    margin: 15vh 0 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
#us aside h3{
    margin: 0 0 40px 20vw;
}
#us aside h5{
    max-width: 600px;
}
#us article{
    position: relative;
    height: 40vh;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
#us article img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}
footer::before{
    content: "";
    position: absolute;
    top: -200px;
    right: 20vw;
    height: 500px;
    width: 100px;
    background: #000504 url(/images/backsplit2.PNG) center center/cover no-repeat;
    rotate: 90deg;
}












@media (max-width: 1024px){

    #services aside h2{
        font-size: 60px;
    }
    #services article{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10vh;
    }
    #services article div{
        height: auto;
        width: 80vw;
    }
    #us aside h3{
        margin: 0 0 40px 0;
    }
}
@media (max-width: 768px){
    #points{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    #points div:nth-child(1){
        margin: 0 0 0 -20vw;
    }
    #points div:nth-child(3){
        margin: 0 -20vw 0 0;
    }
    #services aside{
        align-items: center;
        text-align: center;
    }
    #services aside h5{
        margin-left: 0;
        text-align: center;
    }
    .imgdiv{
        height: 40vh;
    }
    #us article{
        height: 70vh;
    }
}
@media (max-width: 480px){
    #cta article{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    #services article{
        width: 100vw;
        padding: 15vw 0;
    }
    .imgdiv{
        height: 60vh;
    }
}