


#about{
    height: auto;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10vh;
}
#about article{
    width: 45vw;
    height: auto;
    margin: 15vh 15vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#about article h2{
    font-family: var(--font-1-);
}
#about article div{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#about section{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
#about section a{
    position: relative;
    height: auto;
    min-height: 120px;
    width: 24vw;
    padding: 40px;
    background-color: var(--col-2-);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 20px;
    box-shadow: 0px 10px 13px -7px #717171, 5px 5px 15px 5px rgba(0,0,0,0);
}
#about section a::before{
    content: "";
    position: absolute;
    top: -60px;
    right: -60px;
    border-right: solid var(--col-6-) 60px;
    border-top: solid var(--col-6-) 60px;
    border-left: solid transparent 60px;
    border-bottom: solid transparent 60px;
    transition: all 300ms ease;
}
#about section a:nth-child(2)::before{
    content: "";
    position: absolute;
    top: -60px;
    right: -60px;
    border-right: solid var(--col-6-) 60px;
    border-top: solid var(--col-6-) 60px;
    border-left: solid transparent 60px;
    border-bottom: solid transparent 60px;
    transition: all 300ms ease;
}
#about section a:hover::before{
    top: 0;
    right: 0;
}
#about section a h4{
    font-family: var(--font-1-);
    color: var(--col-1-);
}
#about section a h6{
    color: var(--col-1-);
    line-height: 150%;
    letter-spacing: 1px;
}
#about section a i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--col-2-);
}
#why{
    background-color: var(--col-4-);
    height: auto;
    padding: 0 0 15vh 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
#why .discription{
    border-left: solid var(--col-5-) 5px;
}
#why section{
    margin: 20vh 5vw 0 0;
    height: auto;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#why section h2{
    font-family: var(--font-1-);
}
#why article{
    position: relative;
    height: auto;
    width: 40vw;
    margin: 20vh 10vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
#why article aside{
    position: relative;
    height: auto;
    width: 86%;
    padding: 30px 7%;
    background-color: var(--col-1-);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-left: solid var(--col-6-) 4px;
}

#projects{
    height: auto;
    padding: 15vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vh;
}
#projects h2{
    font-family: var(--font-1-);
    text-align: center;
}
#projects section{
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
#projects section a{
    position: relative;
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}
#projects section a div{
    position: relative;
    height: 75%;
    width: 100%;
    background-color: var(--col-4-);
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 5;
   margin: 5px 0 0 0;
   transition: all 100ms ease-in-out;
}
#projects section a:hover div{
    box-shadow: 0px 10px 13px -7px #717171, 5px 5px 15px 5px rgba(0,0,0,0);
    margin: 0;
}
#projects section a div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(110%);
}
#projects section a h4{
    color: var(--col-2-);
    margin: 20px 0 0 0;
    transition: all 100ms ease-in-out;
}
#projects section a:hover h4{
    margin: 25px 0 0 0;
}
#projects section a li{
    position: relative;
    color: var(--col-3-);
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: var(--font-2-);
    font-weight: 100;
    margin: 0;
    list-style: none;
    display: grid;
    place-items: center;
}
#projects section a li::after{
    content: "";
    position: absolute;
    right: -30px;
    width: 20px;
    height: 1px;
    background-color: var(--col-3-);
}
#quote{
    height: auto;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quote h2{
    height: auto;
    width: 80vw;
    display: grid;
    place-items: center;
}
#quote h2:nth-child(1){
    margin-right: 8vw;
}
#quote h2:nth-child(2){
    margin-left: 8vw;
}
#tec{
    background-color: var(--col-4-);
    height: auto;
    padding: 0 0 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#tec .discription{
    border-left: solid var(--col-6-) 5px;
}
#tec section{
    width: 40vw;
    height: auto;
    margin: 20vh 0 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
#tec section h2{
    font-family: var(--font-1-);
}
#tec section h6{
    color: var(--col-3-);
    line-height: 150%;
    letter-spacing: 1px;
}
#tec article{
    height: auto;
    width: 90vw;
    margin: 0 0 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 10vw;
}
#tec article aside{
    height: auto;
    width: 150px;
    padding: 50px 0;
    background-color: var(--col-4-);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#tec article aside i{
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    place-items: center;
    color: var(--col-2-);
    border-bottom: solid var(--col-5-) 2px;
}
#tec article aside h5{
    text-align: center;
}



@media (max-width: 1024px){
    #why{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    #why section{
        margin: 20vh 0 0 0;
        height: auto;
        width: 80vw;
    }
    #why article{
        position: relative;
        height: auto;
        width: 80vw;
        margin: 10vh 0 0 0;
    }
    #tec section{
        width: 60vw;
    }
}
@media (max-width: 768px){
    #about article{
        width: 80vw;
        height: auto;
        margin: 20vh 10vw 0 0;
    }
    #about section{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #about section a{
        position: relative;
        height: auto;
        min-height: 120px;
        width: 70vw;
        padding: 40px;
    }
    #projects section a{
        height: 600px;
        width: 400px;
    }
    #tec section{
        width: 80vw;
        margin: 20vh 0 0 10vw;
    }
}
@media (max-width: 480px){
    #projects section a{
        height: 500px;
        width: 90vw;
    }
}